body{
    background-color: #282838;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    transition: all .3s ease-out;
}
html{
    font-size:85%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
/* scrollbar */
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
section {
    padding: 8rem 7%;
}
.heading{
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 10rem;
    font-size: 4rem;
}
span{
    color: #f153b5;
}
/* header */
header{
    padding:1.5rem 7%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    background-color: #262635;
    border-bottom:.1rem solid rgba(255,255,255,.3);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotype a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    letter-spacing: .4rem;
}
.navbar li {
    display: inline-block;
    padding: 1rem 1rem;
    
}
.navbar li a{
    text-decoration: none;
    margin:0rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:#fff;

}
.navbar li a:hover{
    color: #f153b5;
    transition: .3s;
}

/* информация биз туралы */
.icons-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    bottom: 10rem;
    padding-bottom: 14rem;
    padding-top: 8rem;
}
.icons{
    padding: 2.5rem;
    text-align: center;
    border: .1rem solid rgba(255, 255, 255, 0.34);
    border-radius: 5rem;
    box-shadow: 10px 5px 5px #f153b5;
    background: #282838;
}

.icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: rgb(75, 44, 44);
    background: #f153b5;
    border-radius: 50%;
}

.icons h3{
    color: #ffffff;
    padding: 1rem 0;
    font-size: 2.5rem;
}

.icons p{
    color: #fff;
    line-height: 1.8;
    font-size: 1.5rem;
}
/* about contact */
.contact__inner{
    display: flex;
    background: #33334a;
    flex-wrap: wrap;
    gap:1rem;
    border-radius: 5rem;
    box-shadow: 10px 5px 5px #f153b5; 
}
.map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5rem;
}
.contact form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .contact__inner h3{
    font-size: 3.5rem;
    color:#fff;
}

.inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:#33334a;
    border:.1rem solid rgba(255,255,255,.3);
}
.inputBox span{
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;
}
.inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    text-transform: none;
    background:none;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    background: #33334a;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
    color: #f153b5;
}


/* rental first page */
.rental__img img{
    width: 40rem;
    position: relative;
    border-radius: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
}
.rental__title h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    color: #f153b5;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#f30698, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -400px 0;
    animation: backcolor 3s linear infinite alternate;

}
@keyframes backcolor {
    100% {
        background-position: 0 0;
    }
}

/* rental box */
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.box{
    border:.1rem solid rgba(255,255,255,.3); 
    box-shadow: 10px 5px 5px #f153b48c; 
}
.box__images{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}
.box__images img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.box:hover .box__images img{
    transform: scale(1.2);
}

.box__content{
    padding:2rem;
}
.box__title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}
.box__content span{
    color: #fff;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
/* rental moreee information  */
.rental__info1{
    display: flex;
    align-items: center;
    background: #9656b0d1;
    padding: 5rem;
    margin-bottom: 10rem;
    border-radius: 10rem;
}
.rental__info2{
    display: flex;
    align-items: center;
    background: #9656b0b5;
    padding: 5rem;
    margin-bottom: 10rem;
    border-radius: 10rem;
}
.rental__info3{
    display: flex;
    align-items: center;
    background: #9656b051;
    padding: 5rem;
    border-radius: 10rem;
}

.rental__content{
    flex:1 1 45rem;
    padding:4rem;
}
.rental__content a {
    text-decoration: none;
    color:#ccc;
    font-size: 1.6rem;
}

.rental__content h3{
    font-size: 3rem;
    color:#fff;
    justify-content: center;
}
.rental__content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 2;
}

/* slider */
.slider{
    width: 30rem;
    height: 35rem;
    border-radius: 10%;
    overflow: hidden;
}
.slides{
    width: 100%;
    height: 10rem;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 100%;
    transition: 2s; 
}
.slide img{
    width: 40rem;
}
/* ауыстырып отыру ушин */
.navigation-manual{
    position: absolute;
    margin-top: 20rem;
    margin-left: 8.5rem;
    display: flex;
}
.manual-btn{
    border: 2px solid #f30698;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 2rem;
}
.manual-btn:hover{
    background-color: #f30698;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
#ratio1:checked ~ .first{
    margin-left: 0;
}
#ratio2:checked ~ .first{
    margin-left: -100%;
}
#ratio3:checked ~ .first{
    margin-left: -200%;
}
#ratio4:checked ~ .first{
    margin-left: -300%;
}
#rabio1:checked ~ .first{
    margin-left: 0;
}
#rabio2:checked ~ .first{
    margin-left: -100%;
}
#rabio3:checked ~ .first{
    margin-left: -200%;
}
#rabio4:checked ~ .first{
    margin-left: -300%;
}


/* кнопка для подробной информации(анимациямен розовый) */
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    font-size: 1.3rem;
    padding: 10px;
    border-radius: 20px;
    background-color: #f153b5;
    position: absolute;
    top: 1.4rem;
}
button a {
    text-decoration: none;
}
#btn {
    position: relative;
    background-color: transparent;
    border: 3px solid lightslategray;
    transition: 0.4s ease-out;
}
#btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    border-radius: 20px;
    border: 3px solid lightslategray;
    opacity: 0;
    transition: 0.4s ease-out;
}
#btn:hover{
    color: #f153b5;
    border-color: transparent;
}
#btn:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-color: #f153b5;
}







/* для меню(мобайлга керек болады) */
.menu_btn {
    display: none;
    cursor: pointer;
}
.menu_btn div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3 ease;
}



@media screen and (max-width: 991px) {
    html {
        font-size: 60%;
    }
    header {
        padding: 2rem;
    }
    section{
        padding: 8rem;
    }

}
@media screen and (max-width: 768px) {
    .menu_btn {
        display: block;
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        position: absolute;
        right: 0;
        top: 9.3vh;
        background: #f153b4ae;
        box-shadow: 0 .5rem 1.5rem #f153b4bd;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40% ;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar li {
        opacity: 0;
        font-size: 4rem;
        
    }
   .navbar li a {
        font-weight: bold;
        font-size: 2rem;
   }


}
.nav-active {
    transform: translateX(0%);

}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
  
@media screen and (max-width: 450px) {
    html {
        font-size: 55%;
    }
    .rental__info1{
        flex-direction: column;  
    }
    .rental__info2{
        flex-direction: column;  
    }
    .rental__info3{
        flex-direction: column;  
    }
}
.toggle .first_line {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .second_line {
    opacity: 0;
}
.toggle .third_line {
    transform: rotate(45deg) translate(-5px, -6px);
}