body{
    background-color: #282838;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    transition: all .3s ease-out;
}
html{
    font-size:85%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
/* scrollbar */
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
section {
    padding: 8rem 7%;
}
.heading{
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 10rem;
    font-size: 4rem;
}
span{
    color: #f153b5;
}
/* header */
header{
    padding:1.5rem 7%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    background-color: #262635;
    border-bottom:.1rem solid rgba(255,255,255,.3);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotype a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    letter-spacing: .4rem;
}
.navbar li {
    display: inline-block;
    padding: 1rem 1rem;
    
}
.navbar li a{
    text-decoration: none;
    margin:0rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:#fff;

}
.navbar li a:hover{
    color: #f153b5;
    transition: .3s;
}

/*Капля*/
.secBlob
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.blob
{
    position: absolute;
    width: 500px;
    height: 300px;
}
.blob:nth-child(2){
    filter: blur(50px);
}
/*текст который в цетре*/
.textCenter{
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5.75em;
    line-height: 1.5em;
    margin: 0 0 10px;
    padding: 0;
    color: #fff;

    position: relative;
    margin-right: 25%;
}
.threeImg{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ImgForHomePage{   
    float: left;
    width:  350px;
    height: 300px;
    object-fit: cover;
    transition: box-shadow .3s;
    border-radius:15px;
}
.ImgForHomePage :hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);  
}
#IntroForTourism{  /* its for section intro to tourism*/  
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;

}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.logo:nth-child(1){
    transition-delay: 200ms;
}
.logo:nth-child(2){
    transition-delay: 400ms;
}
.logo:nth-child(3){
    transition-delay: 600ms;
}
.textIntro{
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.75em;
    margin: 0 0 10px;
    padding: 0;
    color: #fff;

    position: relative;
    margin: auto;

}
/*here everyThing from About Us Page*/
.desk {
    margin-left: 8%;
    margin-top: 15%;
}
.desk h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.desk p {
    color: #fff;
    line-height: 22px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .person{
    left: 45%;
}
section{
    position: relative;
    display: flex;
    align-items:center;
    min-height: 100vh;
}
.images2{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 100px;
}
.images2 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape2{
    bottom: 40px;
}
.images:hover .person2{
    left: 45%;
}
.desk2 {
    margin-left: 50%;
    /* margin-top: 15%; */
}
.desk2 h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.desk2 p {
    color: #fff;
    line-height: 22px;
}
a.btn {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.36em;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 555px;
    padding: 14px 24px;
    letter-spacing: .05em;
}
a.btn:hover{
    background-color: #f153b5;
    transition: .5s;
    opacity: 0.7;
}
#mapSect{
    height: 60vh;
    width: 100%;
}
#fill{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .7;
}
footer{
    height: 25vh;
    min-height: 100px;
    padding: 20px 50px;
    width: 100%;
    background-color: #f153b5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-right: 15%;
    
}
footer .social_icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icons li{
    list-style: none;
}
footer .social_icons li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icons li a:hover{
    transform: translateY(-10px);
}
footer .numbers{
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .numbers li{
    list-style: none;
}
footer .numbers li a{
    font-size: 1em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}
form{
    display: grid;
    place-items: center;
    align-items: center;
}
.textField{
    margin: 10px 0;
}
.pod{
    display: grid;
    place-items: center;
    align-items: center;
}
/* waves*/

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wavePink-removebg-preview.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}
@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_2 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

@media screen and (max-width: 768px){
    footer{
        /* flex-direction: column ; */
        background-color: #282838;
        
    }
    .wave{
        /* background-color:  */
    }
    .waves{
        display: none;
    }
    /* header{
        margin-right: 0;
        font-size: 1em;
        max-width: 100%;
        padding: 100px;
    } */
    .blob{
        display: none;
    }
    section{
        max-width: 100%;
    }
    .textCenter{
        margin: 0;
        font-size: 3em;
    }
}
@media screen and (max-width: 991px) {
    .ImgForHomePage{
        width:  250px;
        height: 200px;
    }
    .textCenter{
        margin: 0;
        font-size: 5em;
        max-width: 100%;
        /* margin-left: 80%; */
    }
    .textIntro{
        font-size: 4.5em;
    }
}


/* для меню(мобайлга керек болады) */
.menu_btn {
    display: none;
    cursor: pointer;
}
.menu_btn div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3 ease;
}



@media screen and (max-width: 991px) {
    html {
        font-size: 60%;
    }
    header {
        padding: 2rem;
    }
    section{
        padding: 8rem;
    }

}
@media screen and (max-width: 768px) {
    .menu_btn {
        display: block;
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        position: absolute;
        right: 0;
        top: 9.3vh;
        background: #f153b4ae;
        box-shadow: 0 .5rem 1.5rem #f153b4bd;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40% ;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar li {
        opacity: 0;
        font-size: 4rem;
        
    }
   .navbar li a {
        font-weight: bold;
        font-size: 2rem;
   }


}
.nav-active {
    transform: translateX(0%);

}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
  
@media screen and (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
.toggle .first_line {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .second_line {
    opacity: 0;
}
.toggle .third_line {
    transform: rotate(45deg) translate(-5px, -6px);
}