body{
    background-color: #282838;
}
.container {
    position: relative;
    width: 25%;
    height: auto;
    display: inline-flex;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.9s ease;
    background-color: #0000007c;
}

.container:hover .overlay {
    opacity: 20;    
}
.matin{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-style: oblique;
    color: #fff;
    text-align: center;
}
.matin2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-style: oblique;
    color: #fff;
    margin-top: 250px;
    text-align: end;
}

