body{
  background-color: #282838;
}
*{
  margin:0; padding:0;
  box-sizing: border-box;
  color:#fff;
  font-family: 'Josefin Sans', sans-serif;
  transition: all .3s ease-out;
}
html{
  font-size:85%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
/* scrollbar */
html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}
section {
  padding: 8rem 7%;
}
.heading{
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 10rem;
  font-size: 4rem;
}
span{
  color: #f153b5;
}
/* header */
header{
  padding:1.5rem 7%;
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
  background-color: #262635;
  border-bottom:.1rem solid rgba(255,255,255,.3);
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype a{
  text-decoration: none;
  color: white;
  font-size: 3rem;
  letter-spacing: .4rem;
}
.navbar li {
  display: inline-block;
  padding: 1rem 1rem;
  
}
.navbar li a{
  text-decoration: none;
  margin:0rem;
  font-size: 1.2rem;
  font-weight: bold;
  color:#fff;

}
.navbar li a:hover{
  color: #f153b5;
  transition: .3s;
}

/* blocktext */
.blocktext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14%;
}
.block {    
    display: inline-block;
    padding-top: 55px;
    margin-right: auto;     
    color: #fff;     
    background: #282838;     
    width: 0;      
    padding: 0 10px;      
    
}
.block p{
    font-family: 'Monospace', sans-serif;
    font-size: 50px;
    margin-bottom: 9px;
}
.block1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    width: 69%;
    color: #fff;
}



/* knopka */

.btn-group button {
  margin-top: 200px;
  background-color: #282838; /*  background */
  border: 1px solid #f153b45d; /* border */
  border-radius: 19px;   /*  border-radius */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */;
}
.btn-group a{
  color: #f153b5;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #202030;
}
/* running text */
.running{
  color: #f153b5; 
  font-size: 80px; 
  font-weight: bolder; 
  line-height: 150%; 
  text-shadow: #db1d1d 0px 2px 2px;
  margin-top: 80px;
  margin-bottom: 80px;

}

/* movie photos */
.moviephoto{
  position: relative;
  width: 551px;
  height: 663px;
  display: inline-flex;
  margin-left: 17px;
  margin-bottom: 20px;
  border: #1f1c29  9px solid;
  border-radius: 9px;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.7s ease;
  background-color: #000000a1;
}

.moviephoto:hover .overlay {
  opacity: 20;    
}
.matin{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  font-style: oblique;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}
.matin2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-style: oblique;
  color: #fff;
  margin-top: 100%;
  
}

/* theatre */

.box{
  display: flex;
  padding: 0px;
  width: 700px;
  height: 700px;
  margin: 0;
  margin-left: 30%;
  margin-bottom: 5%;
  align-items: center;
  text-align: center;
  border: #222234 2px solid;
  border-radius: 5%;
  background-color: #202030;
  box-shadow: rgba(255, 255, 255, 0.017) 2px 5px 10px ;
  
}
.box p{
  margin-left: 25px;
  color: #ffffff;
}

.timage{
  width: 250px;
  height: 350px;
  display:inline-block;
  margin-left: 5%;
}

/* knop */
.knopka {
  background-color: rgb(255, 0, 204);
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  margin: 150px 800px 100px 800px;
}
@keyframes glowing {
  0% {
    background-color: #f9117dec;
    box-shadow: 0 0 5px #d730d4;
  }
  50% {
    background-color: #f9117dd6;
    box-shadow: 0 0 20px #ef60a0;
  }
  100% {
    background-color: #f9117d;
    box-shadow: 0 0 5px #ff1381;
  }
}
.knopka {
  animation: glowing 1300ms infinite;
}








  /* media */


/* для меню(мобайлга керек болады) */
.menu_btn {
  display: none;
  cursor: pointer;
}
.menu_btn div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3 ease;
}



@media screen and (max-width: 991px) {
  html {
      font-size: 60%;
  }
  header {
      padding: 2rem;
  }
  section{
      padding: 8rem;
  }

}
@media screen and (max-width: 768px) {
  .menu_btn {
      display: block;
  }
  body {
      overflow-x: hidden;
  }
  .navbar {
      position: absolute;
      right: 0;
      top: 9.3vh;
      background: #f153b4ae;
      box-shadow: 0 .5rem 1.5rem #f153b4bd;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40% ;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .navbar li {
      opacity: 0;
      font-size: 4rem;
      
  }
 .navbar li a {
      font-weight: bold;
      font-size: 2rem;
 }


}
.nav-active {
  transform: translateX(0%);

}
@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

@media screen and (max-width: 450px) {
  html {
      font-size: 55%;
  }
  .rental__info1{
      flex-direction: column;  
  }
  .rental__info2{
      flex-direction: column;  
  }
  .rental__info3{
      flex-direction: column;  
  }
}
.toggle .first_line {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .second_line {
  opacity: 0;
}
.toggle .third_line {
  transform: rotate(45deg) translate(-5px, -6px);
}

.block p{
  font-family: 'Monospace', sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
}
.block1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  width: 40%;
  color: #fff;
}
