body{
    background-color: #282838;
}
header{
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relataive;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.logotype a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}
span{
    color: #f153b5;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #f153b5;
    transition: .3s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/*Капля*/
.secBlob
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.blob
{
    position: absolute;
    width: 500px;
    height: 300px;
}
.blob:nth-child(2){
    filter: blur(50px);
}
/*текст который в цетре*/
.textCenter{
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5.75em;
    line-height: 1.5em;
    margin: 0 0 10px;
    padding: 0;
    color: #fff;

    position: relative;
    margin-right: 25%;
}
.threeImg{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ImgForHomePage{   
    float: left;
    width:  350px;
    height: 300px;
    object-fit: cover;
    transition: box-shadow .3s;
    border-radius:15px;
}
.ImgForHomePage :hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);  
}
#IntroForTourism{  /* its for section intro to tourism*/  
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;

}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.logo:nth-child(1){
    transition-delay: 200ms;
}
.logo:nth-child(2){
    transition-delay: 400ms;
}
.logo:nth-child(3){
    transition-delay: 600ms;
}
/*here everyThing from About Us Page*/
.desk {
    margin-left: 8%;
    margin-top: 15%;
}
.desk h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.desk p {
    color: #fff;
    line-height: 22px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .person{
    left: 45%;
}
section{
    position: relative;
    display: flex;
    align-items:center;
    min-height: 100vh;
}
.images2{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 100px;
}
.images2 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape2{
    bottom: 40px;
}
.images:hover .person2{
    left: 45%;
}
.desk2 {
    margin-left: 50%;
    margin-top: 15%;
}
.desk2 h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.desk2 p {
    color: #fff;
    line-height: 22px;
}
a.btn {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.36em;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 555px;
    padding: 14px 24px;
    letter-spacing: .05em;
}
a.btn:hover{
    background-color: #f153b5;
    transition: .5s;
    opacity: 0.7;
}